/* position */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* margin */
.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

/* flex */
.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
